.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    gap: 100px;
    &__member{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


        &-header{
            color: var(--secondary);
            margin-bottom: -13px;
            margin-right: 80px;
            font-weight: 300;
        }
        &-role{
            color: white;
            margin-right: 80px;
            font-size: 0.7rem;
            font-weight: 300;
            margin-bottom: 1px;

        }
      

        &-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            // background: linear-gradient(180deg, rgba(179,179,179,1) 0%, rgba(25,25,25,1) 100%);           
             max-width: 750px;
             max-height: 1000px;
             background: radial-gradient(circle, rgb(1, 1, 1) 65%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 71%, rgba(255,0,0,1) 75%, rgba(26,26,26,255) 79%);
            color:white;
            padding: 30px;
            padding-inline: 150px;
            position: relative;
            font-size: 1.6rem;
            &-image{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin-bottom: 20px;
                position:absolute;
                left: 150px;
                top: -90px;
                
            }
            &-image2{
                width: 400px;
                height: 220px;
                border-radius: 50%;
                margin-bottom: 20px;
                position:absolute;
                left: 260px;
                top: -108px;
            
            }
            &-link{
                width: 20px;
                height: 20px;
                margin-bottom: 20px;
                position:absolute;
                right: 190px;
                top: -30px;
                cursor: pointer;

            }
            &-link2{
                width: 20px;
                height: 20px;
                margin-bottom: 20px;
                position:absolute;
                right: 160px;
                top: -30px;
                cursor: pointer;
                
            }

        }
    }
}
