.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
   &__logo{
       color: white;
       font-size: 2rem;
        margin-top: 40px;
        width: 90px;
        height: 90px;
        @include Glitch;
        @include xl{
            font-size: 1rem;
            width: 60px;
            height: 60px;
            margin-bottom: 200px;
          }
   }
   &__menu{
       display: flex;
       height: fit-content;
       margin-top: 40px;
       gap: 3rem;
       border: 1px solid #262626;
       background-color: #1C1C1C;
       padding-inline: 18%;
       border-radius: 100px;
       padding-block: 10px;
       margin-left: 10px;
       font-size: small;
       @include xxl{
        font-size: x-small;
       }
       @include xl{
        padding-inline: 14%;
        padding-block: 8px;
        margin-left: 5px;
        font-size: x-small;
        gap: 1.5rem;
       }
       @include md{
        padding-inline: 2%;
        gap: 1rem;
        padding-block: 6px;
        margin-left: 5px;
        font-size: xx-small;
       }
      .menuLink{
        color: aliceblue;
        text-decoration: none;
       }
       .active{
        color: aliceblue;
        text-decoration: none;
        background-color: #262626;
        padding-inline: 20px;
        border-radius: 100px;
        
       }
   }
   &__image{
    max-width: 350px;
        height: 319px;
        width:181px;
        @include xl{
            display: none;
        }
   }
}